*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    background-image: url(../img/fondoDigital.png);
    background-repeat: no-repeat;
}
nav{
    background-color: rgb(61, 100, 139);
    height: 100px;
}
/*----tarjetas y formato API----*/
#listado{
    padding: 10%;
    text-align: center;
}
.imgNvl-container{
    margin: auto;
    background-color: rgb(168, 255, 252);
    border-radius: 50%;
    height: 100%;
    border: solid 1px rgb(146, 203, 232);
    display: inline-block;
}
.hidden{
    display: none;
}
.tarjeta{
    margin: 2%;
    display: inline-block;
}
.img{
    background-color: white;
}
.info-container{
text-align: center;
margin: auto;
border: solid rgb(91, 159, 178) 2px;
padding: 1%;
}
.name-container{
    background-color: rgb(80, 126, 151);
    background-image: url(../img/fondoTransp.png);
    background-size: 100%;
    color: orange;
    text-shadow: -2px 0 darkslateblue, 0 2px darkslateblue, 2px 0 darkslateblue, 0 -2px darkslateblue;

}
.level-container{
    background-color: rgb(40, 81, 86);
    background-image: url(../img/pixelTexture.png);
    background-size: 100%;
    color: white;
    text-shadow: -1px 0 rgb(91, 159, 178), 0 1px rgb(91, 159, 178), 1px 0 rgb(91, 159, 178), 0 -1px rgb(91, 159, 178);
    font-size: 1.5rem;
}
img{
    width: 100%;
}